<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Danish Name:</b> <%= @content_block.danish_name %></p>
<!-- <p><b>Show in section: </b><%# @content_block.section.name %></p> -->
<p><b>Example Photo:</b> <br/><br/><img src="<%= @content_block.attachment_link %>" alt="Example Photo"><br/></p>
<p><b>Description:</b> <%= @content_block.description %></p>